<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.swpw.info.wydatki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WydatkiActivity"
            android:label="Twoje Zakupy"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ZakupyActivity"
            android:label="Twoje Zakupy"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DodajWpisActivity"
            android:label="@string/opisDodawania" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".DodajZakupActivity"
            android:label="Dodawanie pozycji Zakupów " />

        <activity android:name=".StartActivity"
            android:label="Twoje Zakupy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>